@{
    Layout = null;
}
<html>
<head>
    <title>Test Runner</title>
    <link rel="stylesheet" type="text/css" href="~/lib/jasmine/lib/jasmine-core/jasmine.css">
    <script type="text/javascript" src="~/lib/jasmine/lib/jasmine-core/jasmine.js"></script>
    <script type="text/javascript" src="~/lib/jasmine/lib/jasmine-core/jasmine-html.js"></script>
    <script type="text/javascript" src="~/lib/jasmine/lib/jasmine-core/boot.js"></script>
    <script src="~/lib/angular/angular.min.js"></script>
    <script type="text/javascript" src="~/lib/angular-mocks/angular-mocks.js"></script>

    @*include source files here*@
    <script src="~/app/omdb/omdb.js"></script>

    @*include spec files here*@
    <script src="~/app/omdb/omdb.spec.js"></script>

</head>
<body>
</body>
</html>